# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Ignore temporary files
*.log
*.tmp

# Ignore interactive map experiment files
assets/UK BioMed Map/
assets/open-data/
data-pipeline/
open-data-sources.html
uk-life-sciences-map.html

# Ignore unused NGP2017 derivatives
assets/NGP2017_1x1.jpg
assets/NGP2017_4x5.jpg
assets/NGP2017_full.jpg
